.wrapper {
  min-height: 100%;
  position: relative;
}

.yield {
  padding-bottom: 7em;
}

.footer {
  width: 100%;
	height: 3.8em;
	position: absolute;
	bottom: 0;
}

#mailTo, #builtWith {
  padding-right: 1em;
}

#addMedicineCardContent {
  display: flex;
  align-items: center;
}
