<template name="footer">
  <div class="footer">
    <div class="ui middle aligned padded grid">
      <div class="teal row">
        <div class="four wide left aligned column">
          <a href="mailto:jaypanares@gmail.com" target="_blank" id="mailTo"><i class="mail icon"></i>jaypanares</a>
          <i class="copyright icon"></i>2015
        </div>
        <div class="eight wide center aligned column">
          <a href="https://github.com/jaypanares/meditrakr" target="_blank"><i class="big github icon"></i></a>
          <a href="https://twitter.com/jaypanares" target="_blank"><i class="big twitter icon"></i></a>
        </div>
        <div class="four wide right aligned column">
          <span id="builtWith">builtWith:</span>
          <a href="https://www.meteor.com" target="_blank"><strong>METEOR</strong></a>
        </div>
      </div>
    </div>
  </div>
</template>
