<template name="formModal">
  <div class="ui small modal" id="formModal">
    <i class="close icon"></i>
    <div class="header">
      {{modalText}} Medicine
    </div>
    <div class="content">
      {{#autoForm schema="Schemas.Medicines" id="inputForm" type="normal" class="ui form" doc=docToUpdate}}
        {{> inputFormFields}}
      {{/autoForm}}
    </div>
  </div>
</template>

<template name="inputFormFields">
  <div class="two fields">
    {{> formInput required="required" name="genericName" label="Generic Name"}}
    {{> formInput required="required" name="brandName" label="Brand Name"}}
  </div>
  <div class="fields">
    {{> formInput required="required" name="indication" label="Indication" size="eight wide"}}
    {{> formInput required="required" name="dosage" label="Dosage" size="four wide" placeholder="ex. 1mg"}}
    {{> formInput required="required" name="unit" label="Unit" size="four wide" placeholder="ex. tablet"}}
  </div>
  <div class="three fields">
    {{> formInput required="required" name="singleDose" label="Single Dose"}}
    {{> formInput required="required" name="dailyDose" label="Daily Dose"}}
    {{> formInput required="required" name="totalAmount" label="Total Amount"}}
  </div>
  <div class="field">
    <div class="ui right aligned grid">
      <div class="column">
        <div class="ui cancel button">Cancel</div>
        <button class="ui teal submit button">Submit</button>
      </div>
    </div>
  </div>
</template>
