<template name="home">
  <div class="ui page grid">
    <div class="column">
      <div class="ui four cards">
        {{#each medicines}}
          <div class="card">
            <div class="content">
              <div class="ui right floated red mini basic icon button" id="removeMedicineBtn">
                <i class="large trash outline icon"></i>
              </div>
              <div class="ui right floated yellow mini basic icon button" id="editMedicineBtn">
                <i class="large edit icon"></i>
              </div>
              <div class="header">{{genericName}}</div>
              <div class="meta">{{brandName}} - {{dosage}}</div>
              <div class="description">
                <span>{{indication}}</span><br>
                <span><strong>{{totalAmount}}</strong> {{pluralized unit totalAmount}} left</span>
              </div>
            </div>
            <div class="ui bottom attached teal button" id="takeMedicineBtn">
              <i class="checkmark icon"></i>
              <strong>Take {{singleDose}} {{pluralized unit singleDose}}</strong>
            </div>
          </div>
        {{/each}}
        <div class="teal card">
          <div class="content" id="addMedicineCardContent">
            <div class="ui large fluid teal button" id="addMedicineBtn">
              <i class="add circle icon"></i>
              Add New Medicine
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {{> formModal}}
</template>
