<head>
  <title>MediTrakr</title>
</head>

<template name="appLayout">
  <div class="wrapper">
    {{> header}}

    <div class="yield">
      {{> yield}}
    </div>

    {{> footer}}
  </div>
</template>

<template name="landing">
  <div class="ui center aligned page grid">
    <div class="row">
      <div class="eight wide column">
        <div class="ui teal inverted segment">
          <h1>MediTrakr helps you keep track of your medicines.</h1>
          <h1>Sign up to use MediTrakr!</h1>
        </div>
      </div>
    </div>
  </div>
</template>

<template name="loading">
  <div class="ui large active loader"></div>
</template>
