<template name="login">
  <div class="ui centered page grid">
    <div class="five wide column">
      {{#if isRegister}}
        {{> registerForm}}
      {{else}}
        {{> loginForm}}
      {{/if}}
      <div class="ui error message
      {{#if loginErrorMessage}}visible{{else}}hidden{{/if}}">
        <p>{{loginErrorMessage}}</p>
      </div>
    </div>
  </div>
</template>

<template name="registerForm">
  {{#autoForm schema="Schemas.RegisterAccount" id="registerForm" class="ui form"}}
    {{> formInput required="required" name="email" label="Email" icon="user icon"}}
    {{> formInput required="required" name="password" label="Password" icon="lock icon" type="password"}}
    {{> formInput required="required" name="confirmPassword" label="Confirm password" icon="lock icon" type="password"}}
    <div class="ui hidden divider"></div>
    <div class="ui grid">
      <div class="center aligned column">
        <div class="ui buttons">
          <div class="ui yellow submit button" id="registerBtn">Register</div>
          <div class="or"></div>
          <div class="ui teal button" id="signInBtn">Sign In</div>
        </div>
      </div>
    </div>
  {{/autoForm}}
</template>

<template name="loginForm">
  {{#autoForm schema="Schemas.UserAccount" id="loginForm" class="ui form"}}
    {{> formInput required="required" name="email" label="Email" icon="user icon"}}
    {{> formInput required="required" name="password" label="Password" icon="lock icon" type="password"}}
    <div class="ui hidden divider"></div>
    <div class="ui grid">
      <div class="center aligned column">
        <div class="ui buttons">
          <div class="ui yellow button" id="registerBtn">Register</div>
          <div class="or"></div>
          <div class="ui teal submit button" id="signInBtn">Sign In</div>
        </div>
      </div>
    </div>
  {{/autoForm}}
</template>
